<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class ="card">
  <header class="card-header">
    <%= form.label :meal_type, style: "display: block" %>
    <%= form.text_field :meal_type %>
    </header>

  <div class = "card-content">
  <div class="content">
    <p><span class ="has-text-weight-bold"><%= form.label :calories, style: "display: block" %>
    <%= form.number_field :calories %></span> calories</p>
  
    <p><span class ="has-text-weight-bold"><%= form.label :proteins, style: "display: block" %>
    <%= form.number_field :proteins %></span>grams of protein</p>
  
    <p><span class ="has-text-weight-bold"><%= form.label :carbohydrates, style: "display: block" %>
    <%= form.number_field :carbohydrates %></span>grams of carbohydrates</p>
  
    <p><span class ="has-text-weight-bold"><%= form.label :fats, style: "display: block" %>
    <%= form.number_field :fats %></span>gramms of fat</p>
    <p class="italic">:logged <% time_ago_in_words(entry.created_at) %></p>
  </div>
  </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
